<form class="expedition-timed-effect-templates-form">
  <p class="hint">{{ localize 'EXPEDITION_TRACKER.TrackerPosition.ResetDescription' }}</p>

  <footer class="sheet-footer flexrow">
    <button type="submit">
      {{ localize 'EXPEDITION_TRACKER.TrackerPosition.ResetConfirmAction' }}
    </button>
  </footer>
</form>
